@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Ultralight.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Thin.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Light.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Regular.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Medium.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Semibold.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Bold.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Heavy.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: local("SF Pro Display"),
    url("../fonts/SF-Pro-Display-Black.otf") format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bd {
  border: 1px solid #f00;
}

[x-cloak] {
  display: none !important;
}

@layer components {
  body {
    @apply font-san text-base text-body;
  }

  .form-control {
    @apply rounded border border-gray-300 text-body-light placeholder-body-light;
  }

  input[type="text"],
  select {
    @apply transition focus:shadow focus:outline-none;
  }

  /* Custom checkbox functionality */
  .c-checkbox {
    @apply relative flex items-center transition;
  }

  .c-checkbox.is_error .c-checkbox__icon {
    @apply border-red-500;
  }

  .c-checkbox input[type="checkbox"] {
    @apply absolute h-0 w-0 cursor-pointer opacity-0;
  }

  .c-checkbox input[type="checkbox"]:checked + .c-checkbox__icon,
  .c-checkbox input[type="checkbox"]:checked:disabled + .c-checkbox__icon {
    @apply border-0 bg-blue-400 text-white;
  }

  .c-checkbox input[type="checkbox"]:checked + .c-checkbox__icon svg {
    @apply visible;
  }

  .c-checkbox input[type="checkbox"]:disabled + .c-checkbox__icon {
    @apply cursor-not-allowed border-gray-300 bg-gray-100 text-gray-500;
  }

  .c-checkbox input[type="checkbox"]:disabled:checked + .c-checkbox__icon svg {
    @apply cursor-not-allowed;
  }

  .c-checkbox__icon {
    width: 18px;
    height: 18px;

    @apply relative rounded border border-gray-300 bg-white transition;
  }

  .c-checkbox__icon:focus,
  .c-checkbox__icon:hover {
    @apply border-gray-100;
  }

  .c-checkbox__icon svg {
    @apply invisible absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform cursor-pointer transition;
  }

  .c-checkbox__title {
    @apply ml-3 cursor-pointer;
  }

  /*Custom radio functionality*/
  .c-radio {
    @apply relative h-7 w-11 cursor-pointer appearance-none rounded-full border border-gray-300 bg-white transition focus:outline-none;
  }

  .c-radio:checked,
  .c-radio:active {
    @apply border-body bg-body;
  }

  .c-radio:before {
    content: "";

    @apply absolute top-1/2 left-1 h-5 w-5 -translate-y-1/2 transform rounded-full bg-gray-300 transition-all duration-300;
  }

  .c-radio:checked:before,
  .c-radio:active:before {
    @apply ml-4 bg-white;
  }

  .sidebar {
    backdrop-filter: blur(20px);

    @apply bg-body;
  }

  .sidebar__content {
    height: calc(100vh - 64px);

    @apply w-72 transition-all duration-700;
  }

  #sidebar.is_active .sidebar__content,
  .sidebar__content.is_active {
    @apply w-112;
  }

  .sidebar__media {
    @apply w-16;
  }

  #sidebar.is_active .sidebar__media,
  .sidebar__content.is_active .sidebar__media {
    /* @apply w-32 mr-3; */
    @apply mr-3;
  }

  #sidebar.is_active .sidebar__media.is_half,
  .sidebar__content.is_active .sidebar__media.is_half {
    @apply w-6/12;
  }

  #sidebar.is_active .sidebar__more-info,
  .sidebar__content.is_active .sidebar__more-info {
    @apply block;
  }

  .sidebar__width-full {
    @apply w-full;
  }

  #sidebar.is_active .sidebar__width-full,
  .sidebar__content.is_active .sidebar__width-full {
    @apply w-auto;
  }

  .sidebar__content.is_active .vehicle-info .sidebar__info {
    @apply w-6/12;
  }

  .sidebar__content.is_compact .vehicle-info {
    /* @apply flex-wrap; */
  }

  .sidebar__content.is_compact .vehicle-info .sidebar__media {
    /* @apply w-full mr-0 mb-3; */
    @apply mb-3;
  }

  .sidebar__content.is_compact .vehicle-info .sidebar__media img {
    @apply h-20 object-cover;
  }

  .sidebar__content.is_compact .vehicle-info .sidebar__info {
    @apply w-full;
  }

  .sidebar__content.is_compact + .main__content--chat {
    padding-left: 23rem;
  }

  .sidebar__content.is_compact + .main__content--chat .main__content--fixed {
    width: calc(100% - 23rem);
    left: 23rem;
  }

  #sidebar.is_active ~ .main__content,
  #sidebar.is_active ~ .main__content .main__content--fixed {
    padding-left: 33rem;
  }

  .main__content {
    min-height: calc(100vh - 65px);
    @apply overflow-y-auto transition-all duration-700;
  }

  .main__content--chat {
    height: calc(100vh - 65px);
    padding-left: 33rem;
  }

  .main__content .main__content--fixed {
    width: calc(100% - 33rem);
    padding-left: 0;
    left: 33rem;

    @apply transition-all duration-700;
  }

  .main__content .main__content--fixed.chat-author {
    /* border: 1px solid #000; */
  }

  .main__content--alone {
    min-height: calc(100vh - 65px);

    @apply ml-18 pl-6;
  }

  .reg-table {
    @apply w-full table-auto;
  }

  .reg-table thead {
    @apply bg-blue-500 text-white;
  }

  .reg-table thead th {
    @apply px-3 py-4 text-left font-medium;
  }

  .reg-table thead th:first-child,
  .reg-table tbody td:first-child {
    @apply pl-6;
  }

  .reg-table thead th:last-child {
    @apply pr-8 text-right;
  }

  .reg-table thead .reg-sort {
    @apply relative pr-3.5;
  }

  .reg-table thead .reg-sort:before,
  .reg-table thead .reg-sort:after {
    content: "";
    width: 0;
    height: 0;
    border: 4px solid transparent;

    @apply absolute right-0 opacity-0 transition;
  }

  .reg-table thead .reg-sort:hover:before,
  .reg-table thead .reg-sort:hover:after {
    @apply opacity-30 transition;
  }

  .reg-table thead .reg-sort:before {
    top: 1px;
    border-bottom: 4px solid #fff;
  }

  .reg-table thead .reg-sort:after {
    bottom: -1px;
    border-top: 4px solid #fff;
  }

  .reg-table thead .reg-sort.is_asc:hover:before {
    @apply opacity-100;
  }

  .reg-table thead .reg-sort.is_desc:hover:after {
    @apply opacity-100;
  }

  .reg-table tbody tr:nth-child(even) {
    @apply border-b border-gray-200 bg-gray-100;
  }

  .reg-table tbody td {
    @apply px-3 py-4;
  }

  .small-table tr td {
    @apply px-2 pb-1;
  }

  .small-table tr:last-child td {
    @apply pb-0;
  }

  .arrow-ribbon {
    @apply relative flex overflow-hidden;
  }

  .arrow-ribbon span {
    @apply bg-black/20 p-1 px-1.5 text-white;
  }

  .arrow-ribbon:after {
    content: "";

    @apply absolute top-1/2 h-full w-0 -translate-y-1/2;
  }
}

.custom-scroll.custom-scroll-y {
  padding-right: 8px;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6a717e;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}
